<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kirkegaard.mathirialdesign">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ellipse"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ellipse"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Features.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Features.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Features.BottomNavigationActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".Features.MasterDetails.ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Features.MasterDetails.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".Features.MasterDetails.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Features.MasterDetails.ItemListActivity" />
        </activity>
        <activity
            android:name=".Features.Pagers.PagerTabStripActivity"
            android:label="@string/title_activity_pager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Features.Pagers.PagerDropdownActivity"
            android:label="@string/title_activity_dropdown_pager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Features.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Features.RevealActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".Features.Transactions.SharedTransactionAActivity"
            android:theme="@style/AppTheme.SharedTransition" />
        <activity
            android:name=".Features.Transactions.SharedTransactionBActivity"
            android:theme="@style/AppTheme.SharedTransition" />
        <activity
            android:name=".Features.Transactions.SharedTransactionFragmentHolderActivity"
            android:theme="@style/AppTheme.SharedTransition" />
        <activity android:name=".Features.LottieAnimations.LottieAnimationsActivity" />
        <activity android:name=".Features.LogCatActivity" />
        <activity android:name=".Features.Dialogs.DialogsActivity" />
        <activity android:name=".Features.Lists.GroupedListActivity" />
        <activity android:name=".Features.Navigation.ActivityBackStackManipulationActivity" />
        <activity android:name=".Features.Controls.TextInputLayoutActivity" />
        <activity android:name=".Features.Controls.ControlsOverviewActivity"
            android:noHistory="true"/>
        <activity android:name=".Features.PlaygroundActivity" />
        <activity android:name=".Features.Filters.MaskFilterActivity" />
        <activity android:name=".Features.Sensor.SensorActivity" />
        <activity android:name=".Features.Controls.SwithesActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>